# Ignore everything by default
/*

# Allow the desired files
!.gitignore
!.bashrc
!.bash_profile
!.tmux.conf
!.fzf.cap.sh

!.config
.config/*
!.config/bash_completion

!.emacs.d/
.emacs.d/*
!.emacs.d/init.el

!/bin
/bin/de-*
